.bg {
	/* The background image */
	background: url('../images/banner1.svg') no-repeat center center fixed;

	/* Three quareter height */
	height: 75%;

	/* Dim slightly to make buttons stand out */
	opacity: 50%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
