# https://EditorConfig.org

# This is the top-most editorconfig file
root = true

# All files
[*]
indent_style = tab
indent_size = 4
charset = utf-8

# C# source
[*.cs]
trim_trailing_whitespace = true
insert_final_newline = true
csharp_new_line_before_open_brace = all

# Web Pages
[*.cshtml]
indent_style = space
indent_size = 2

# Build files and structured data
[*.{csproj,build}]
indent_style = space
indent_size = 2
