<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.webServer>
		<handlers>
			<remove name="aspNetCore"/>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
		</handlers>
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
		<staticContent>
			<mimeMap fileExtension=".appx" mimeType="application/appx" />
			<mimeMap fileExtension=".msix" mimeType="application/msix" />
			<mimeMap fileExtension=".appxbundle" mimeType="application/appxbundle" />
			<mimeMap fileExtension=".msixbundle" mimeType="application/msixbundle" />
			<mimeMap fileExtension=".appinstaller" mimeType="application/appinstaller" />
		</staticContent>
	</system.webServer>

</configuration>
