@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This site uses cookies to:</p>
<ul>
    <li>Remember settings to personalize your experience</li>
    <li>Track where visitors are coming from</li>
</ul>
