@using SchrodyWebApp.Data
@inject HelloDogsService HelloDogsService

<div class="container">
    <h2 class="font-weight-light" id="Introduction">Woo, Woo, Woof! (Hello!)</h2>

    <div class="card-group">
        <div class="card bg-light">
            <img class="card-img-top" src="/images/fletch_profile.jpg" alt="Fletch">
            <div class="card-body px-2">
                <div class="card-title">Hi, I’m Fletcher</div>
                <button class="btn btn-primary container-fluid" @onclick="IncrementFletchAsync">Say hello to Fletch</button>
                @if (fletchActive)
                {
                    <div class="alert alert-success" role="alert">
                        <strong>Hello human!</strong> @fletchCount people have said hello to me.
                    </div>
                }
                <p class="card-text">
                    I'm 3/4 miniature schnauzer, 1/4 poodle. I live in North Delta, BC, Canada and I love car rides and my brother.
                </p>
                <p class="card-text">
                    <a href="https://instagram.com/fletchtheschnauzer/">
                        <i class="fab fa-instagram"></i> Visit Fletch on Instagram
                    </a>
                </p>
            </div>
        </div>

        <div class="card bg-light">
            <img class="card-img-top" src="/images/fibs_profile.jpg" alt="Fletch">
            <div class="card-body px-2">
                <div class="card-title">Herrrrooowww, Friends! I'm Fibs</div>
                <button class="btn btn-primary container-fluid" @onclick="IncrementFibsAsync">Say hello to Fibs</button>
                @if (fibsActive)
                {
                    <div class="alert alert-success" role="alert">
                        <strong>Hello human!</strong> @fibsCount people have said hello to me.
                    </div>
                }
                <p class="card-text">
                    I run an Instagram account for my brother and me, with some help from my mom!
                </p>
                <p class="card-text">
                    <a href="https://instagram.com/niblets_of_fiblets/">
                        <i class="fab fa-instagram"></i> Visit Fibs on Instagram
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

@code {
    private bool fletchActive;
    private bool fibsActive;
    private int fibsCount;
    private int fletchCount;

    protected override async Task OnInitializedAsync()
    {
        var value = await HelloDogsService.GetHelloDogsAsync();
        fibsCount = value.FibsCount;
        fletchCount = value.FletchCount;
    }

    private async Task IncrementFibsAsync()
    {
        fibsActive = true;
        fibsCount++;
        await HelloDogsService.IncrementFibsAsync();
    }

    private async Task IncrementFletchAsync()
    {
        fletchActive = true;
        fletchCount++;
        await HelloDogsService.IncrementFletchAsync();
    }
}
