@inherits LayoutComponentBase

<div class="main">
    <NavMenu />

    <div class="container-fluid body-content">
        @Body
        <hr />
        <footer>
            <p>&copy; 2019-2020 by Brad Reimer.</p>
        </footer>
    </div>
</div>
