@page
@model ContactModel
@{
    ViewData["Title"] = "About";
}

<h2>Brad Reimer</h2>
<h4>Product Manager, Frostbite Engine</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header"><img src="images/experience.svg" height="24" class="mr-lg-2" />Work Experience</div>
                <div class="card-body">
                    <h6 class="card-title"><b>Electronic Arts / </b>Product Manager</h6>
                    <p class="card-text">
                        I'm currently a <em>product manager</em> identifying opportunities and defining a roadmap for the end-to-end content creation experience in our Frostbite Engine.
                    </p>
                    <p class="card-text">
                        Previously I worked as a <em>senior software engineer</em> devloping central tools and technology.
                        <ul>
                            <li>Creating the content database used across EA</li>
                            <li>Developing reusable patterns and components for editors</li>
                            <li>Creating animation editor experience like an interactive 3D scene, live edit, replay buffer, and streaming diagnostics</li>
                            <li>Maintaining a propriatary 3D file format and the ecosystem of import, export, and scripting tools that surround it</li>
                        </ul>
                    </p>
                    <p"><small class="text-muted text-uppercase">May 2003 - Present, Vancouver</small></p>
                </div>
            </div>
            <div class="card mt-3">
                <h5 class="card-header"><img src="images/education.svg" height="24" class="mr-lg-2" />Education</h5>
                <div class="card-body">
                    <h6 class="card-title"><b>University of British Columbia</b></h6>
                    <p class="card-text">B.S. Combined Physics &amp; Computer Science</p>
                    <p class="card-text"><small class="text-muted text-uppercase">Sept 1998 - May 2003, Vancouver</small></p>
                </div>
            </div>
            <div class="card mt-3">
                <h5 class="card-header"><img src="images/skills.svg" height="24" class="mr-lg-2" />Skills</h5>
                <div class="card-body">
                    <p class="card-text"><b>Software Developer:</b> C# &bull; C++ &bull; WPF &bull; SQL</p>
                    <p class="card-text"><b>Analytics:</b> Power BI &bull; Azure App Insights</p>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="images/breimer_profile.jpg" class="rounded-circle" />
        </div>
    </div>
</div>
