@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<br />

<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="social-media fab fa-instagram fa-4x p-2" aria-hidden="true"></i>

                    <div class="text">
                        <span>Follow <a href="https://www.instagram.com/breimer/">@@breimer</a> or <a href="https://www.instagram.com/fletchtheschnauzer/">@@fletchtheschnauzer</a></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="social-media fab fa-twitter fa-4x p-2" aria-hidden="true"></i>

                    <div class="text">
                        <span>Tweet <a href="https://twitter.com/bradreimer">@@bradreimer</a></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="social-media fab fa-facebook fa-4x p-2" aria-hidden="true"></i>

                    <div class="text">
                        <span>
                            Reach me <a href="https://www.facebook.com/schrody">here</a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box-part text-center">
                    <i class="social-media fab fa-linkedin fa-4x p-2" aria-hidden="true"></i>

                    <div class="text">
                        <span>Connect to me <a href="https://www.linkedin.com/in/breimer/">here</a></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box-part text-center">
                    <i class="social-media fab fa-github fa-4x p-2" aria-hidden="true"></i>

                    <div class="title">
                        <h4>GitHub</h4>
                    </div>

                    <div class="text">
                        <span>Share some code with me <a href="https://github.com/bradreimer">here</a></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
