@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<br />

<!-- Contact Me -->
<section class="py-5">
    <div class="container">
        <h2 class="font-weight-light" id="Introduction">Contact Me</h2>
        <p>Say hello to our Dad with social media.</p>

        <div class="row">
            <div class="col-1">
                <a href="https://www.instagram.com/breimer/">
                    <i class="social-media fab fa-instagram fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-1">
                <a href="https://twitter.com/bradreimer">
                    <i class="social-media fab fa-twitter fa-3x p-2" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-1">
                <a href="https://www.facebook.com/schrody">
                    <i class="social-media fab fa-facebook fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-1">
                <a href="https://www.linkedin.com/in/breimer/">
                    <i class="social-media fab fa-linkedin fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-1">
                <a href="https://github.com/bradreimer">
                    <i class="social-media fab fa-github fa-3x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>
