@page "/experiments"

@using SchrodyWebApp.Data
@inject HelloDogsService HelloDogsService

<div class="jumbotron jumbotron-fluid full-screen">
    <div class="container">
        <h1 class="display-4">Welcome! Bienvenue! Välkommen!</h1>
        <p class="lead">This page contains my latest experiments in software development.</p>
    </div>
</div>

<p>Hello Fibs: @fibsCount</p>
<p>Hello Fletch: @fletchCount</p>

<button class="btn btn-primary" @onclick="IncrementFibsAsync">Hello Fibs</button>
<button class="btn btn-primary" @onclick="IncrementFletchAsync">Hello Fletch</button>

@code {
    private int fibsCount;
    private int fletchCount;

    protected override async Task OnInitializedAsync()
    {
        var value = await HelloDogsService.GetHelloDogsAsync();
        fibsCount = value.FibsCount;
        fletchCount = value.FletchCount;
    }

    private async Task IncrementFibsAsync()
    {
        fibsCount++;
        await HelloDogsService.IncrementFibsAsync();
    }

    private async Task IncrementFletchAsync()
    {
        fletchCount++;
        await HelloDogsService.IncrementFletchAsync();
    }
}
