@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row align-items-center">
    <div class="col-md-4">
        <a asp-page="/Schnauzers"><img src="images/banner1.svg" alt="Fletch, Fibs, and all things schnauzer"></a>
    </div>
    <div class="col-md-4">
        <a asp-page="/Software"><img src="images/banner2.svg" alt="Software"></a>
    </div>
    <div class="col-md-4">
        <a asp-page="/About"><img src="images/banner3.svg" alt="About"></a>
    </div>
</div>
