@page
@model IndexModel
@{
    ViewData["Title"] = "Brad Reimer";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Index.css" />
</head>

<section class="section">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card card-image" style="background-image: url(images/fletch_16_9.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h6><strong>Schnauzers</strong></h6>
                        <h3 class="card-title py-3 font-weight-bold"><strong>@@fletchtheschnauzer</strong></h3>
                        <p class="pb-3">Hi, I’m <span class="text-warning">Fletcher</span>; 1/2 miniature
                            schnauzer, 1/2 poodle. I live near Vancouver, Canada and I love car rides and
                            my brother @@niblets_of_fiblets!</p>
                        <a class="btn btn-success btn-rounded" href="https://www.instagram.com/fletchtheschnauzer/">Visit Fletch on Instagram</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card card-image" style="background-image: url(images/fibs_16_9.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h6><strong>Schnauzers</strong></h6>
                        <h3 class="card-title py-3 font-weight-bold"><strong>@@niblets_of_fiblets</strong></h3>
                        <p class="pb-3">Herrrrooowww, Friends! I'm <span class="text-warning">Fibs</span>,
                            and I run this account for my brother and me, with some help from my mom!</p>
                        <a class="btn btn-success btn-rounded" href="https://www.instagram.com/niblets_of_fiblets/">Visit Fibs on Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card card-image" style="background-image: url(images/schrody_16_9.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h6><strong>Software</strong></h6>
                        <h3 class="card-title py-3 font-weight-bold"><strong>Brad Reimer on GitHub</strong></h3>
                        <p class="pb-3">I've created my first project on GitHub! <span class="text-warning">cs-sequence-diagrams</span> is a
                            C# library that draws sequence diagrams in a WPF.</p>
                        <a class="btn btn-success btn-rounded" href="https://www.github.com/bradreimer/">View Projects</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
