@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!-- Full page image header with vertically centered content -->
<header class="masthead pl-0">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Fletcher and Fibonacci's favorite place on the web</h1>
                <hr class="divider divider-white my-4">
            </div>
            <div class="col-lg-8 verti">
                <p class="text-white font-weight-light mb-5">Schnauzers &amp; software combines all the great things about schnauzers with all the great things about software development. Fletch and Fibs thank you for visiting and invite you to explore.</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#Introduction">Find Out More</a>
            </div>
        </div>
    </div>
</header>

<!-- Introduction -->
<section class="py-5">
    <div class="container">
        <h2 class="font-weight-light" id="Introduction">Woo, Woo, Woof! (Hello!)</h2>

        <div class="card-group">
            <div class="card bg-light">
                <img class="card-img-top" src="~/images/fletch_profile.jpg" alt="Fletch">
                <div class="card-body px-2">
                    <div class="card-title">Hi, I’m Fletcher</div>
                    <div class="card-text">
                        <a href="https://instagram.com/fletchtheschnauzer/" class="btn btn-primary btn-lg container-fluid" role="button" aria-pressed="true">
                            <div class="row">
                                <div class="col-auto">
                                    <i class="fab fa-2x fa-instagram pr-1"></i>
                                </div>
                                <div class="col">
                                    Visit Fletch on Instagram
                                </div>
                            </div>
                        </a>
                    </div>
                    <p class="card-text">I'm 3/4 miniature schnauzer, 1/4 poodle. I live in North Delta, BC, Canada and I love car rides and my brother.</p>
                </div>
            </div>

            <div class="card bg-light">
                <img class="card-img-top" src="~/images/fibs_profile.jpg" alt="Fletch">
                <div class="card-body px-2">
                    <div class="card-title">Herrrrooowww, Friends! I'm Fibs</div>
                    <div class="card-text">
                        <a href="https://instagram.com/niblets_of_fiblets/" class="btn btn-primary btn-lg container-fluid" role="button" aria-pressed="true">
                            <div class="row">
                                <div class="col-auto">
                                    <i class="fab fa-2x fa-instagram pr-1"></i>
                                </div>
                                <div class="col">
                                    Visit Fibs on Instagram
                                </div>
                            </div>
                        </a>
                    </div>
                    <p class="card-text">I run an Instagram account for my brother and me, with some help from my mom!</p>
                </div>
            </div>
        </div>
    </div>
</section>
