@page
@model MiscModel
@{
    ViewData["Title"] = "Miscellaneous";
}

<h1 class="text-info">Holy Schnauzers!</h1>
<p>This page is under construction. For now, just pop over to <a href="http://bradreimer.com">bradreimer.com</a> to see my posts.</p>

<a href="ms-appinstaller:?source=http://bradreimer.azurewebsites.net/downloads/SandboxWpfPackage.appinstaller" class="btn btn-primary"><i class="fa fa-download"></i> Download Sandbox WPF</a>
