@page
@model SchnauzersModel
@{
    ViewData["Title"] = "Schnauzers";
}
<h2>@ViewData["Title"]</h2>

@foreach (var post in @Model.Posts)
{
  <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/@post/" data-instgrm-version="9" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
    <div style="padding:8px;">
      <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;">
        <div style=" background:url(data:image/png;base64,@Model.BackgroundImage); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
      </div>
      <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
        <a href="https://www.instagram.com/p/@post/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">
        A post shared by Brad Reimer (@@fletchtheschnauzer)</a>
      </p>
    </div>
  </blockquote>
}

<script async defer src="//www.instagram.com/embed.js"></script>
