@page
@model ContactModel
@{
    ViewData["Title"] = "Services";
}

<br />

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is a placeholder page for future experiments.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button"><i class="fas fa-info-circle mr-2"></i>Try it out</a>
        </p>
    </div>
</div>
