@page
@model SoftwareModel
@{
    ViewData["Title"] = "Software";
}
<h2>@ViewData["Title"]</h2>

<p>Software coming soon</p>

<script async defer src="//www.instagram.com/embed.js"></script>
